<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-lg text-light" routerLink="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item" *ngFor="let category of allCategories">
                    <a class="nav-link text-sm text-light" [routerLink]="['category/'] + category">{{category}}</a>
                </li>
            </div>
        </div>
    </div>
    <div>
        <a class="navbar-brand text-lg text-light" routerLink="/cart">Cart<sup>{{itemsInCart}}</sup></a>
    </div>
</nav>